#about {
  background-color: whitesmoke;
  min-height: 75vh;
}

.astro > img {
  align-self: center;
}

.par > p {
  font-size: 1.5rem;
}

@media only screen and (max-width: 875px) {
  .par > p {
    font-size: 1.2rem;
  }

}

@media only screen and (max-width: 600px) {
  .par > p {
    font-size: 1rem;
  }

}