.nav {
  background-color: var(--color-secondary);
}
.nav2 {
  background-color: transparent;
}

.navlink {
  color: var(--color-white) !important;
}

.navlink:hover {
  color: var(--color-primary) !important;
}
.navimage {
  width: 3rem;
  height: 3rem;
}
.navcollapse {
  background-color: yellow !important;
}

.active {
  color: var(--color-primary) !important;
}
