/* Here change the backgroud-color */

#features {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

.feature_container {
  min-height: 75vh;
}

/* Here you can change the image size */

.features_img {
  height: 5rem;
  width: 5rem;
}

/* Here you can change the h4 size */

.features_col h4 {
  color: var(--color-secondary);
}

/* Here you can change the p size */
.features_col p {
  color: var(--color-secondary);
}
