/* Here change the backgroud-color */

#features{
    background-color: #31ae;
}

.feature_container{
    min-height: 75vh;
}

/* Here you can change the image size */

.features_img{
    height: 3rem;
    width: 3rem;
}

/* Here you can change the h4 size */

.features_col h4{

}

/* Here you can change the p size */
.features_col p{

}


